<% content_for :title, "Welcome to RailsPwn" %>

<div style="float: right">
<%= image_tag('rails-large.png', :height => '20%', :width => '20%') %>
</div>

<div style="float: left">
	<h4>Goals </h4>
	<ul>
		<li>register arbitrary email address without receiving email</li>
		<li>view more videos than you paid for</li>
		<li>login as admin without the password</li>
		<li>remote code execution</li>
	</ul>

</div>
